<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>新闻资讯</title>
<title>heder_nav-menu</title>
<link rel="stylesheet" type="text/css" href="front/css/reset.css" />
<link rel="stylesheet" type="text/css" href="front/css/common.css" />
<link rel="stylesheet" type="text/css" href="front/css/heder_nav-menu.css"/>
<link rel="stylesheet" type="text/css" href="front/css/successful_case.css"/>
<!-- 因为分页用到了bootsrap 所以导入 -->
<link rel="stylesheet" type="text/css" href="/admin/css/bootstrap.min.css"/>
<style>
</style>

</head>

<body>
{{include './public/public_header.html'}}
<div id="header_nav-wrapper">
    <div class="header_nav">
    	<h2>新闻资讯 &#160; <span>让品牌与您同在</span></h2>
    </div>
</div>

<div id="header_title-wrapper">
    <div class="header_title clear">
        <p >
            {{each newscategories.secondCategories}}
                <a {{if pid==$value._id}} style="background-color: antiquewhite;"{{/if}} href="/news?pid={{@$value._id}}">{{$value.title}}</a>
            {{/each}}
        </p>
    </div>


</div>



<div id="main-wrapper">

    <div class="main">    
    
    		<ul class="clear">
                {{each newsList}}
				<li class="service" style="width:400px;height:400px">
					<img src="{{$value.img_url}}"/>
					<a href="/content/{{@$value._id}}">
						<h3>{{$value.title}}</h3>
					</a>
                </li>
                {{/each}}        
            </ul>
    </div>

    <div id="pagination" class="pagination"></div>
    
</div>



<div id="footer-wrapper">
            <div class="footer-inner">
                <p>
                    <a href="#">网站首页</a>&nbsp;&nbsp;|&nbsp;
                    <a href="#">关于我们</a>&nbsp;&nbsp;|&nbsp;
                    <a href="#">产品展示</a>&nbsp;&nbsp;|&nbsp;
                    <a href="#">客户案例</a>&nbsp;&nbsp;|&nbsp;
                    <a href="#">新闻资讯</a>&nbsp;&nbsp;|&nbsp;
                    <a href="#">帮助中心</a>&nbsp;&nbsp;|&nbsp;
                    <a href="#">解决方案</a>&nbsp;&nbsp;|&nbsp;
                    <a href="#">联系我们</a>&nbsp;&nbsp;&nbsp;&nbsp;
                </p>
                <p>Copyright © 2002-2015上海机械设备服务有限公司 版权所有 Power by DedeCms</p>
                <p>电话：15918779820 E-mail：89898981@qq.com 地址：上海市沙河广园东路1858新天地服装城</p>
            </div>
</div>
        


<script src="/admin/js/jquery-2.0.3.min.js"></script>
<script src="/my_tools/jqPaginator.js"></script>
    <script>
         let pid="{{pid}}"
        $('#pagination').jqPaginator({
            totalPages:{{totalPages}},
            //可以看见的是5页
            visiblePages: 5,
            //当前是第几页就选中第几页
            currentPage: {{currentPage}},
            onPageChange: function (num, type) {
                //num是点击的页码数
                //type有change跟init两种。init是第一次显示页码的时候。change是点击页码的时候，
                console.log(num,type);     
                if(type=="change"){

                    if(pid){
                        location.href="/news?pid={{pid}}&page="+num
                    }else{
                        location.href="/news?page="+num
                    }

                }
            }
        });
    </script>

</body>

</html>
